$white: hsl(0 100% 100%);
$black: hsl(0 0% 0%);

$grey950: hsl(255 22% 4%);
$grey900: hsl(248 17% 9%);
$grey850: hsl(248 15% 11%);
$grey800: hsl(248 10% 15%);
$grey700: hsl(248 5% 34%);
$grey600: hsl(251 9% 53%);
$grey200: hsl(252 11% 91%);

$green200: hsl(127 100% 82%);
$yellow300: hsl(42 91% 68%);
$orange400: hsl(13 95% 66%);
$red500: hsl(0 91% 63%);
$gradientstart: hsl(248 17% 9%);
$gradientend: hsl(255 22% 4%);
